


/* lip top device 1025-1200 */
@media screen and (max-width:1200px) {

}
/* Tablate Device 769 - 992 */
@media screen and (max-witdh:992px) {
  
}
/* Mobile Device Potrait 390 - 568*/
@media screen and (max-witdh:668px) {
  
}
